


.taskDiv {
background-color: rgb(255, 255, 255);
border: red 1px solid;
margin-top: 5rem;
margin-left: 10rem;
width: 70rem;
height: 5rem;
    }

    .taskContainer {
        background-color: rgb(222, 242, 242);
        position: relative;
        width: 100%;
        text-align: end;

    }




.AddTaskBtn {

    position: absolute;
    right: 10px;
    top: 20px;
    background:url(../assets/folder-plus-svgrepo-com.svg) ;
    background-repeat: no-repeat;
    background-size: cover;
    

    width: 6rem;
    height: 6rem;




}

